@font-face {
  font-family: MavenPro;
  src: url(../font/MavenPro.ttf);
}
@font-face {
  font-family: GildaDisplay;
  src: url(../font/GildaDisplay.ttf);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  margin: 0;
  padding: 0;
  background-color: white;
}

header .logooben {
  display: inline-block;
  margin-right: 20px;
  margin-top: 15px;
  color: #949494;
  font-size: 17.6px;
  font-family: "MavenPro";
}

header {
  text-align: right; 

  background-image: url(../img/header.png);
  background-size: cover; /* Hintergrundbild skalieren, um den gesamten Bereich zu füllen */
  background-position: center; /* Zentriert das Bild */
  background-repeat: no-repeat; /* Verhindert das Wiederholen des Bildes */
  background-color: #333;
  height: 100vh;
}

.logo {
  text-align: center;
  margin: 0 auto;
  margin-top: 126px;
  width: 300px;
  height: 227px;
  top: 126px;
  left: 570px;
  padding: 0px 0px 20px 0px;
  border-radius: 8px 8px 8px 8px;
  color: white;
  background: linear-gradient(36deg, rgba(255,0,210,0.5) 0%, rgba(52,52,250,0.5) 50%, rgba(0,212,255,0.5) 100%);
  transition: background 0.3s ease;
}

.logo:hover {
  background: linear-gradient(36deg, rgba(0,255,210,0.5) 0%, rgba(252,52,250,0.5) 50%, rgba(0,122,255,0.5) 100%);
}

.logo h2 {
  display: inline-block;
  color: #FFF;
  font-family: "GildaDisplay";
  line-height: 75px;
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 48px;
}

.logowe {
  color: white;
  text-align: center;
  font-size: 16px;
  font-family: "MavenPro";
}

nav {
  font-size: 16px;
  font-family: "MavenPro";
}

nav li {
  text-align: left;
  margin-left: 15px;
  padding: 9px;
}

nav a {
  color: #8C8C8C;
  text-decoration: none;
  transition: all s ease;
}

nav a:hover {
  text-shadow: 0 0 10px rgba(214, 214, 214, 0.7); 
}