.Section {
    border: 2px solid #2a2f4c;
    background-color: #2a2f4c;
    text-align: center;
    box-shadow: 0 0 10px #181b2c;
    padding: 20px;
}

.Section:hover {
    background-color: #3d456f;
}