 /* ! So könnne wir SVG Stylen */
 /* svg {
     height: 500px;
     width: 500px;
     fill: blue;
 } */

 /* ! BASICS */

 :root {
     --space-sm: 30px;
     --space-big: 60px;
     --text-gray: #606060;
 }

 .wrapper , .main , .section {
     background-color: #F5F5F5;
     /* hier benutze ich geren relative werte denn so spare ich mir die anpassung in der Mibilen ansicht */
     padding: 3vw 6vw;
 }

 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 html {
     font-family: Arial, Helvetica, sans-serif;
     background-color: #F5F5F5;

 }

 img {
     max-width: 100%;
 }

 a {
     text-decoration: none;
     color: #659D89;
 }

 h1 {
     font-size: 50px;
     color: #659D89;
 }

 /* ! Header */

 header {
     margin-bottom: 260px;
     height: 100vh;
 }

 nav {
     display: block;
     margin-bottom: 15vh;
 }

 header nav {
     text-align: left;
 }

 header nav a {
     padding: 10px;
 }

 div {
    display: block;
    text-align: left;
    margin-bottom: 10vh;
}

 div h1 {
    text-align: left;
 }

 div p {
    font-size: 50px;
    text-align: left;
 }

 div .social {
    display: block;
    text-align: right;
    margin-bottom: 15vh;
}

.down {
   display: block;
}
.down p {
   text-align: left;
   color: #666666;
   font-size: 16px;
}

 /* ! Main */
 
 main {
    margin-bottom: 260px;
    height: 100vh;
    background-color: #F5F5F5;
}

 main div {
    display: block;
    color: black;
    text-align: left;
    line-height: 1cm
 }

 main div h2 {
    font-size: 20px;
}

 main div p {
    font-size: 16px;
 }

 .main article {
    margin: 5vh;
    padding: 5vh;

 }

.bildreihe1 img {
    display: inline-block;
    white-space: nowrap;
    width: 30%; /* Größe der Bilder anpassen */
    height: auto; /* Verhältnis beibehalten */
    margin: 5px; /* Abstand zwischen den Bildern */
}

.bildreihe2 img {
    display: inline-block;
    white-space: nowrap;
    width: 30%; /* Größe der Bilder anpassen */
    height: auto; /* Verhältnis beibehalten */
    margin: 5px; /* Abstand zwischen den Bildern */
}

/* section */

.section {
    margin-bottom: 260px;
    height: 100vh;
    background-color: #F5F5F5;
}

h3 {
    font-size: 20;
    color: black;
    margin-bottom: 5vh;
}

.article1-1 {
    display: block;
    text-align: left;
}

.article1-1 h5 {
    font-size: 12px;
}

.article1-1 p:nth-of-type(1) {
    font-size: 20px;
}

.article1-1 p:nth-of-type(2) {
    font-size: 12px;
}

/* footer */


.unten a {
    display: block;
    color: #666666;
    text-align: center;
}

.unten p {
    display: block;
    color: #666666;
    text-align: center;
}