@font-face {
    font-family: RalewayIta;
    src: url(../fonts/Raleway-Italic-VariableFont_wght.ttf);
}

@font-face {
    font-family: RelewayVar;
    src: url(../fonts/Raleway-VariableFont_wght.ttf);
}

html {
    /* font-size: 62,5%; */
}

* {
    padding: 0;
    margin: 0;
    box-sizing:

}

body {
    background-size: cover;
    background-position: top;
}

/* header navbar */

.header {

}

.navbar {
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    padding: 4vh 25vh 4vh 25vh;
    font-family: RelewayVar;
    position: sticky;
    top: 0;
    z-index: 1000; 
}

.logo {
    display: flex;
    font-size: clamp(1rem, 1vw, 1rem); 
    align-items: center;
}

.nav {
    display: flex;
    text-decoration: none;
    list-style: none;
    font-size: clamp(1rem, 1vw, 1rem); 
    align-items: center;
    gap: 5vh;
}

.nav li a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}

.nav li a:hover {
    color: rgb(70, 70, 70);
}


/* headercenter */

.headercenter {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #D9E8E5;
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.products div {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.product1 {
    background-image: url(../img/ring001.png.jpg);
    width: 50.8vh;
    height: 33.9vh;  
}

.product2 {
    background-image: url(../img/ring002.png.jpg);
    width: 50.8vh;
    height: 33.9vh;
}

.product3 {
    background-image: url(../img/ring003.png.jpg);
    width: 50.8vh;
    height: 33.9vh;
}

.product4 {
    background-image: url(../img/ring004.png.jpg);
    width: 50.8vh;
    height: 33.9vh;
}

.product5 {
    background-image: url(../img/ring005.png.jpg);
    width: 50.8vh;
    height: 33.9vh;
}

.product6 {
    background-image: url(../img/ring006.png.jpg);
    width: 50.8vh;
    height: 33.9vh;
}