@font-face {
    font-family: Lato;
    src: url(../fonts/Lato-Regular.ttf);
}

html {
    /* font-size: 62,5%; */
}

* {
    padding: 0;
    margin: 0;
    box-sizing: ;
}

body {
    background-size: cover;
    background-position: top;
}

/* header navbar */

.navbar {
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vh 2vh;
    font-family: Lato;
}

.logo {
    display: flex;
    align-items: center;
    padding: 1vh 6vh;
    gap: 2vh;
    font-size: 24px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
}

.nlinks, .nrechts {
    display: flex;
    gap: 2vh;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nrechts {
    margin-left: auto;
}

.nav li a {
    text-decoration: none;
    color: black;
    padding: 1vh;
}

.nav li a:hover {
    color: rgb(70, 70, 70);
}

/* headercenter */


.rings {
    display: flex;
    font-family: Lato;
    font-size: 24px;
    margin: 3vh 20vh;
}

.mitte {
    display: flex;
    flex-direction: column;
}

.headercenter {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #D9E8E5;
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-family: Lato;
    gap: 2vh;
}

.products div {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 2vh 2vh 2vh 2vh;
}

.product1 {
    background-image: url(../img/ring001.png.jpg);
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
    border-radius: 2vh 2vh 2vh 2vh;
    width: 50.8vh;
    height: 33.9vh;
}

.product2 {
    background-image: url(../img/ring002.png.jpg);
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
    border-radius: 2vh 2vh 2vh 2vh;
    width: 50.8vh;
    height: 33.9vh;
}

.product3 {
    background-image: url(../img/ring003.png.jpg);
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
    border-radius: 2vh 2vh 2vh 2vh;
    width: 50.8vh;
    height: 33.9vh;
}

.product4 {
    background-image: url(../img/ring004.png.jpg);
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
    border-radius: 2vh 2vh 2vh 2vh;
    width: 50.8vh;
    height: 33.9vh;
}

.product5 {
    background-image: url(../img/ring005.png.jpg);
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
    border-radius: 2vh 2vh 2vh 2vh;
    width: 50.8vh;
    height: 33.9vh;
}

.product6 {
    background-image: url(../img/ring006.png.jpg);
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
    border-radius: 2vh 2vh 2vh 2vh;
    width: 50.8vh;
    height: 33.9vh;
}