.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 1vw;
  padding-right: 25vw;
  padding-left: 10vw;
  position: relative;
  top: 1rem;
  z-index: 5;
  font-size: 1vw;
  a {
    text-decoration: none;
    color: white;
    padding: 3vw;
  }
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  img {
    width: 3vw;
  }
  h2 {
    padding-left: 2vw;
    color: white;
    font-size: 2vw;
    font-weight: normal;
  }
}

.Hero {
  display: flex;
  text-align: left;
  flex-direction: column;
  padding-top: 2.5vw;
  padding-left: 12vw;
  color: white;
  z-index: 8;
  font-size: 2.7vw;

  button {
    margin-top: 1.5vw;
  }
}

.Head {
  display: flex;
  flex-direction: column;
  height: 63vw;
  position: relative;
  z-index: 0;
}

.Head::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../../../public/img/overlay.png);
  background-repeat: no-repeat;
  background-size: 83%;
  background-position: top left;
  z-index: 2;
}

.Head::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../../../public/img/BG.png);
  background-repeat: no-repeat;
  background-size: 83.3%;
  background-position: top left;
  opacity: 0;
  animation: fadeInOverlay 8s ease-in-out forwards;
  z-index: 1;
}

@keyframes fadeInOverlay {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.mobel {
  position: absolute;
  left: 0vw;
  top: 35vw;
  animation: mobelfade 4s ease-in-out forwards;
  width: 30vw;
  height: 13.5vw;
  z-index: 4;
}

@keyframes mobelfadezurück {
  from {
    opacity: 1;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.Group {
  position: absolute;
  left: 44vw;
  top: 25vw;
  animation: fadeInGroup 4s ease-in-out forwards;
  width: 18vw;
  height: 25vw;
  z-index: 4;
}

@keyframes fadeInGroup {
  from {
    opacity: 1;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
