section {
    background-image: url(../img/photo-1460602594182-8568137446ce.avif);
    
    text-align: center;
    color: white;
}

article {
    background: url(../img/photo-1603398749947-87246022fbf9.avif) right no-repeat;
    background-size: contain;
}