.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5rem 1rem 3rem;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  h1 {
    color: #3e3f43;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 6px;
    text-transform: uppercase;
  }
}

.nav-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 2rem;
  z-index: 3;
  li {
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    &:hover {
      color: #4d4d4d;
    }
    text-decoration: none;
  }
  a {
    color: rgba(34, 34, 34, 0.75);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
  }
}
