.blog-article {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-top: 12vw;
  .blog-article-img {
    display: flex;
    width: 80%;
    margin-left: auto;

    img {
      width: 100%;
      object-fit: cover;
      border-radius: 10px 0px 0px 10px;
      height: 40vw;
    }
  }

  .blog-article-text {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin-left: auto;
    .blog-article-title {
      display: flex;
      justify-content: space-between;
      margin-top: 4vw;
      h2 {
        color: #0d4625;
        font-size: 24px;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
      }
      p {
        color: #0d4625;
        font-size: 16px;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
        margin-right: 5vw;
      }
    }
    .blog-article-description {
      display: flex;
      flex-direction: column;
      p {
        color: #0d4625;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-top: 4vw;
      }
      p:nth-child(2) {
        font-weight: bold;
        margin-top: 2vw;
        margin-bottom: 2vw;
      }
    }
    a {
      color: #0d4625;
      margin-bottom: 8vw;
    }
  }
}
