body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    text-align: center;
    height: 100vh;
    margin: 0;
    margin-top: 20px;
    place-items: center;
}

.stern::after{
    content: " *";
    color: red;
  }

form {
    width: 400px;
    background: white;
    padding: 20px;
    border-radius: 8px;
    text-align: left;
}

.div {
    margin-bottom: 15px;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

.name {
    width: 100%;
    margin-bottom: 15px;
}

.name input {
    width: 48%;
    display: inline-block;
}

input, select, textarea, button {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

input::placeholder {
    color: #aaa;
}

button {
    background-color: #5D9EA0;
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 12px;
}

button:hover {
    background-color: #4A7B7C;
}