body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  background: linear-gradient(300deg, #a6e191, #94a894, #0324e9);
  background-size: 180% 180%;
  height: 100vh;
  animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.input {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  margin-top: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 17px;
  background-color: #a6e191;
  color: #000000;
  cursor: pointer;
}

button:hover {
  background-color: #8ae06b;
}
