* {
  padding: 0px;
  margin: 5px;
}

h1 {
  text-align: center;
  padding-bottom: 10px;
}
body {
  display: flex;
  flex-direction: column;
}

section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  gap: 10px;
}

img {
  width: 100%;
}
