html, body {
    height: 100%;
    display: flex;
    justify-content: center; /* Horizontal zentrieren */
    margin: 0;
    margin-top: 10px;
}

div {
    display: inline-block;
    text-align: center;
    width: 300px;
    background-color: #213039;
    line-height: 40px;
    padding: 15px 15px 35px 15px;
}

a {
    color: white;
}

h1 {
    color: white;
    font-size: 27px;
}

button[type="submit"] {
    background-color: #42be83;
    color: white;
    border: none;
    padding: 12px;
    width: 300px;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 3px;
}

button[type="submit"]:hover {
    background-color: #279a63;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #42be83;
    color: white;
    text-decoration: none;
    width: 100px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

input {
    background-color: #213039;
    width: 293px;
}

.reset {
    color: green;
    text-align: right;
}